{% extends '::base.html.twig' %}

{% block body %}
    {% if restaurants is empty %}
        Il n'y a aucun restaurant pour le moment.
    {% else %}
        <h3>Liste des restaurants :</h3>
        <ul>
            {% for r in restaurants %}
                <li><a href="{{ path('ets_restaurant_index', {'restaurant': r.id}) }}">{{ r.name }}</a></li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}